/* links font */
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;800&display=swap);

/* main text font */
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

/* p font main */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
}
header{
    position: relative;
    width: 100%;
    z-index: 1000;
}
header .bg-head{
    position: absolute;
    width: 100%;
    z-index: -1000;
}
header .bg-head-2 {
    position: absolute;
    width: 100%;
    z-index: -1000;
}
header .navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding: 60px 0;
}
.navbar .logo img{
    width: 200px;
}
.navbar .links{
    display: flex;
    gap: 40px;
    align-items: center;
}
.navbar .links a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    line-height: 27px;
    transition: all .4s;
}
.navbar .links a:hover{
    color: #afa9ff;
}
.navbar .links button{
    width: 187px;
    font-family: 'Manrope';
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    font-weight: 500;
    height: 57px;
    border-radius: 5px;
    background: #D9D9D9;
    border: none;
    cursor: pointer;
    color:#2C47FA;
    transition: all .6s;
}
.navbar .links button:hover{
    background-color: rgba(48, 48, 255, 0.763);
    color: white;
    border: 1px solid white;
}
.head{
    width: 70%;
    height: 70vh;
    margin: auto;
    display: flex;
}
.head .main-img {
    width: 50%;
    display: flex;
    right: 140px;
    align-items: center;
    position: absolute;
    top: 230px;
    transition: all .8s;
}
.head .main-img:hover{
    scale: 1.02;
}
.head .main-img img {
    position: relative;
}
.main-img .girl{
    width: 488px;
}
.main-img .r-img{
    right: 150px;
    top: 100px;
}
.main-img .l-img {
    top: -100px;
    right: -150px;
}
.main-text{
    width: 50%;
    padding: 30px 0 0 0;
}
.main-text h1{
    font-family: 'Poppins' , sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: white;
    line-height: 80px;
}
.main-text p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    width: 90%;
    color: #ffffff;
    padding: 5px 0 30px 0;
}
.main-text button{
    width: 446px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    font-family: 'Poppins' , sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    font-style: normal;
    cursor: pointer;
    transition: all .6s;
}
.main-text button:hover{
    background: linear-gradient(45deg , aqua , rgb(51, 51, 255));
    border: none;
    color: white;
}
.main-text button i{
    padding: 0 15px;
}
main{
    padding: 200px 0 0 0;
    background-color: #F5F5F5;
}
.sponsors{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.sponsors img{
    width: 550px;
}
main .sound-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sound-page .question{
    text-align: center;
}
.question h2{
    font-family: 'Poppins' , sans-serif;
    font-style: normal;
    font-size: 35px;
    line-height: 80px;
    font-weight: 600;
}
.question p{
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    font-style: normal;
    width: 60%;
    padding-bottom: 20px;
    margin: auto;
}
.sound-page .bloks{
    display: flex;
    align-items: center;
    gap: 30px;
}
.sound-page .bloks .blok{
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
}
.sound-page .bloks .blok p{
    font-family: 'Roboto' , sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 50px;
        /* or 364% */
        display: flex;
        align-items: center;
        letter-spacing: -0.03em;
}
.sound-page .bloks .blok p{
    display: flex;
    gap: 20px;
}
.sound-page .bloks .blok p i{
    background: linear-gradient( 30deg , blue , aqua  );
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.sound-page .p-class{
    font-family: 'Roboto' , sans-serif;
    padding: 30px 0;
    opacity: .8;
}
main .skils {
    width: 70%;
    padding: 100px 0;
    margin: auto;
}
.skils .skill-1{
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}

.img .img-blok{
    width: 400px;
    position: absolute;
}



.skill-1 .img .str-img{
    position: relative;
    left: 50px;
    width: 500px;
    top: 50px;
}
.skill-1 .text{
    margin-left: 100px;
}
.skill-1 .text .p{
    font-family: 'Poppins' , sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #2C47FA;
    line-height: 40px;
}
.skill-1 .text h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;
}
.skill-1 .text .p2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    width: 80%;
    padding: 30px 0;
}
.skill-2 {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}
.skill-2 .web-img{
    position: absolute;
}
.skill-2 .page-blok{
    position: relative;
    right: -130px;
}
.skill-2 .text {
    width: 40%;
    margin-left: 100px;
}

.skill-2 .text .p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #2C47FA;
    line-height: 40px;
}

.skill-2 .text h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;
}

.skill-2 .text .p2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    width: 80%;
    padding: 30px 0;
}
.skill-2 .img .web-img{
    width: 500px;
    z-index: 1000;
    right: 280px;
    top: 2100px;
}
.skill-2 .img .page-blok{
    width: 400px;
}


/* LAST-PAGE OXIRGI QISM */
.last-page {
    background: #0F1B2B !important;
    width: 100%;
    height: 140vh;
}
.pricing-plan {
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.last-page-h1 {
    font-size: 42px;
}
.last-page-lorem {
    width: 450px;
    line-height: 30px;
    margin-top: 10px;
    text-align: center;
}
/* Regulars */
.Regulars {
    color: #ffffff;
    width: 40%;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 0  20px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 40px;
}
.regulars-package {
    font-size: 43px;
    margin-top: 30px;
}
.regulars-boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 140px;
}
.low-boxes {
    display: flex;
    align-items: center;
    gap: 20px;
}
.total-value {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.botton-ordernow {
    border: 1px solid blue;
    color: #FFFFFF;
    background: blue;
    width: 300px;
    height: 50px;
    font-size: 18px;
    border-radius: 8px;
}
.time {
    display: flex;
    gap: 30px;

}
.hours {
    
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 10px;
    
}
.mins {
    border-radius: 10px;
    width: 90px;
     height: 90px;
     display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.03);
}
.sec {
    border-radius: 10px;
        width: 90px;
        height: 90px;
        display: flex;
        align-items: center;
        flex-direction: column;
            background: rgba(255, 255, 255, 0.03);
       
}
.time-hour {
    font-size: 52px;
   
}
.last-page-boxes {
    display: flex;
    gap: 30px;
    width: 70%;
    align-items: center;
    margin-left: 200px;
    justify-content: space-between;
} 
/* TWO-PAGE BOSHLANISHI */
.two-page {
    width: 100%;
    height: 100vh;
    background: #f5f5f5c3;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
   
}
.the-frist-box {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.the-second-box {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.coachesbox {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 120px;
    position: relative;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 10px;
}
.two-page-images {
  background: linear-gradient(180deg, #2C47FA 0%, #09E9F8 100%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -20px;
 
}
.two-page-images-img  {
width: 30px;
}
.free-audit {
    width: 300px;
     height: 70px;
     border-radius: 5px;
     background: linear-gradient(94.17deg, #3732F8 -25.78%, #0091FF 118.51%);
     border: none;
     color: #FFFFFF;
     margin-top: 20px;
     font-size: 14px;
}
/* BLUE-PAGE BOSHLANSHI */
.blue-page {
    border: 1px solid red;
    width: 100%;
    height: 190vh;
    background: #2C47FA;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.blue-page-boxes {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 700px;
    height: 350px;
    justify-content: center;
    gap: 20px;
    background: rgba(255, 255, 255, 0.042);
    padding: 0 20px;
}
.blue-boxes-right {
    width: 450px;
    height: 200px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.blue-boxes-left {
    width: 280px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.151);
    border-radius: 5px;
}


main .laptop {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 130px;
}

.laptop .text h2{
    font-style: normal;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;    
    text-align: center;
    letter-spacing: -0.03em;
}
.laptop .text p{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        padding-bottom: 50px;
}
.laptop img {
    width: 1000px;
}
main .store {
    width: 70%;
    margin: auto;
}
.store .text {
    text-align: center;
}
.store .text h2{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 60px;
        letter-spacing: -0.03em;
}
.store .text p{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 100px;
        text-align: center;
}
.store .bloks{
    display: flex;
    flex-direction: column;
    gap: 200px;
    padding: 100px 0;
}
.store .bloks .blok-main{
    display: flex;
    gap: 40px;
}

.store .bloks .blok-main .blok{
    background-color: black;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background: #000526;
    color: white;
    padding: 0 35px 30px;
    transition: all .5s;
}
.store .bloks .blok-main .blok:hover{
    scale: 0.96;
}
.store .bloks .blok-main .blok2:hover {
    scale: 0.96;
}
.store .bloks .blok-main .blok2 {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: #ffffff;
    transition: all .5s;
    padding: 0 35px 30px;
}
.store .bloks .blok-main .blok2 img{
    margin-top: -100px;
    width: 250px;
}
.store .bloks .blok-main .blok img {
    margin-top: -100px;
    width: 250px;
}
.store .bloks .blok-main .blok h3{
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    text-align: start;
    line-height: 80px;
    letter-spacing: -0.03em;
    font-family: 'Poppins' , sans-serif;
}
.store .bloks .blok-main .blok2 h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    text-align: start;
    line-height: 80px;
    letter-spacing: -0.03em;
    font-family: 'Poppins' , sans-serif;
}
.store .bloks .blok-main .blok2 p{
    font-family: 'Roboto';
    font-weight: 300;
    height: 0;
    font-size: 18px;
    font-style: normal;
}
.store .bloks .blok-main .blok p {
    font-family: 'Roboto';
    font-weight: 300;
    height: 0;
    font-size: 18px;
    font-style: normal;
    align-items: start;
}
.store .bloks .blok-main .blok2 p{
    text-align: left;
}
.store .bloks .blok-main .blok p {
    text-align: left;
}


